@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  padding:0;
  margin:0;
}
body {
    font-family: 'Roboto', sans-serif;
}

html, body, #app {
  height:100%
}

#app > * {
  height: 100%;
}

.border {
  border:1px black solid;
}