@import url(http://fonts.googleapis.com/css?family=Roboto);
* {
     transition: all .3s ease-out;
}
body {
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    // background: #bdc3c7;
}
#sprint {
    // border:red 1px solid;
}

#errorbanner {
    opacity: 0;
    color:white;
    position: absolute;
    height: 2rem;
    background-color: #e74c3c;
    border: 0.1rem solid #c0392b;
    width: 100%;
    padding-left:3rem;
    justify-content: center;
    display: flex;
    align-items:center;
    &.visible {
        opacity: 255;
    }
}

#content {
    padding:3rem;
    timeline-comp {
        display: flex;
        .time-segment {
            border: black 1px solid;
            height: 0.3rem;
            background-color:#bdc3c7;
            flex-grow: 1;
            &.weekend {
                background-color: gray;
            }
            &.today {
                background-color:#27ae60;
            }
        }
    }
    #top {
        margin-bottom: 2rem;
        font-size: 3rem;
        display: flex;
        #sprintdetails {
            #sprint {
                font-size: 5rem;
            }
            #duedate {
                font-size: 3rem;
            }
            flex-grow: 1;
            // float:left;
        }
        #now {
            flex-basis:auto;
            // float: right;
        }
    }
    #middle {
        display: flex;
        .progress-circle {
            position:relative;
            font-size:3rem;
            i {
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
            }
            width:10rem;
            height:10rem;
        }
        #overview {
            font-size:2rem;
            flex-grow: 1;
            #critical {
                color:#e74c3c;
            }
            #high {
                color:#d35400;
            }
            #medium {
                color:#f39c12;
            }
            #low {
                color:#1abc9c;
            }
        }
        #chart {
            #todaystatus {
                font-size: 1.5rem;
                width:100%;
                flex-basis:auto;
                margin-left:auto;
                span {
                    text-align: right;
                }
            }
        }
    }
    $new-color: #95a5a6;
    $indev-color: #e67e22;
    $intest-color: blue;
    $done-color: #2ecc71;

    #bottom {
        #labels {
            display: flex;
            & > * {
                flex-grow: 1;
                text-align: center;
            }
            .new {
                color: $new-color;
            }
            .indev {
                color: $indev-color;
            }
            .intest {
                color: $intest-color;
            }
            .done {
                color: $done-color;
            }
        }
        #progress {
            margin-left:auto;
            display: flex;
            height: 3rem;
            transition: 0.5s linear;
            & > :first-child {
                border-top-left-radius:0.5rem;
                border-bottom-left-radius:0.5rem;
            }
            & > :last-child {
                border-top-right-radius:0.5rem;
                border-bottom-right-radius:0.5rem;
            }            
            #section {
                transition:0.5s linear;
                &.new {
                    background-color: $new-color;
                }
                &.indev {
                    background-color: $indev-color;
                }
                &.intest {
                    background-color: $intest-color;
                }
                &.done {
                    background-color: $done-color;
                }
           }
        }
    }
}