doctype html
html
    head
        script(src="http://air.local:35729/livereload.js")
        link(href="css/style.css", rel="stylesheet")
        //- bower
        //- endbower

    body
        block content
        script(src="js/app.js")
